{% extends 'gestion_clientes/base.html' %}
{% block contenido %}
<h2>Lista de Empleados</h2>
<a href="{% url 'crear_empleado' %}" class="btn">Crear Empleado</a>
<ul>
    {% for empleado in empleados %}
    <li>
        {{ empleado.nombre }} - {{ empleado.posicion }}
        <a href="{% url 'editar_empleado' empleado.id %}">Editar</a> |
        <a href="{% url 'eliminar_empleado' empleado.id %}">Eliminar</a>
    </li>
    {% empty %}
    <li>No hay empleados registrados.</li>
    {% endfor %}
</ul>
{% endblock %}
